<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>01</title>
    <script src="vue.js"></script>
</head>
<body>
向前插入 -- unshift <br>
向后推入 -- push<br>
<br>
拿掉前面 -- shift<br>
拿掉后面 -- pop<br>


<h1>splice   增加删改都有 ，很强大的一个方法</h1>

<div id="app">
    <h1>{{msg}}</h1>
    <div class="one" style="display: inline-block">
        <li v-for="(v,i,k) in data">
            {{v.con}}
            <button @click="remove(i)">删除</button>
        </li>
    </div>
    <div class="two" style="display: inline-block;margin-top: 13px;vertical-align: top">
        <li v-for="(v,i) in (data.length>0)?data.length-1:0" style="list-style: none;">
            <button @click="alternate(v,i)">交换</button>
        </li>
    </div>

    <textarea id="" cols="30" rows="10" v-model="news" style="display:block"></textarea>

    {{dataHelp}}----{{data.length-1}}
    <button @click="newPushData(1)">向后插入</button>
    <button @click="newPushData(2)">拿掉最后</button>
    <button @click="newPushData(3)">向前插入</button>
    <button @click="newPushData(4)">拿掉前面</button>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            msg: '增强原生',
            data: [
                {con: '张涛'},
                {con: '赵博'},
                {con: '谢宗生'},
                {con: '汪龙'},
                {con: '赵郊龙'},
                {con: '李凤英'},
            ],
            dataHelp: [],
            news: '',
        },
        methods: {
            remove(i) {
                this.data.splice(i, 1);
            },
            alternate(v, i) {
                this.dataHelp.splice(0, 1, {con: this.data[i].con});
                this.data.splice(i, 1, {con: this.data[i + 1].con});
                this.data.splice(i + 1, 1, this.dataHelp[0]);
            },
            newPushData(type) {
                switch (type) {
                    case 1 :
                        this.data.push({con: this.news});
                        this.news = '';
                        return;
                    case 2:
                        this.data.pop();
                        return;
                    case 3:
                        this.data.unshift({con: this.news});
                        this.news = '';
                        return;
                    case 4:
                        this.data.shift();
                        return;
                }
            },
        },
    })
</script>
</body>
</html>